In [5]:
import pandas as pd
df=pd.read_csv("../../data/이동내역_변경.csv")
df

,여행ID,Trip ID,출발 방문지 ID,도착 방문지 ID,출발시간_분,도착시간_분,이동방법코드_1,이동방법코드_2
0,b_b005269,2210290006,NaN,2.210290e+09,NaN,2022-10-29 19:00:00.000,도보,NaN
1,b_b000670,2208220005,NaN,2.208220e+09,NaN,2022-08-22 15:30:00.000,자가용(승용/승합/트럭 등등),NaN
2,b_b013695,2210290009,NaN,2.210290e+09,NaN,2022-10-29 22:00:00.000,시외/고속버스,지하철
3,b_b008133,2210230003,NaN,2.210230e+09,NaN,2022-10-23 12:00:00.000,도보,NaN
4,b_b000558,2208070003,NaN,2.208070e+09,NaN,2022-08-07 15:00:00.000,자가용(승용/승합/트럭 등등),NaN
...,...,...,...,...,...,...,...,...
36965,b_b010837,2210220002,NaN,2.210220e+09,NaN,2022-10-22 16:00:00.000,자가용(승용/승합/트럭 등등),NaN
36966,a_a001928,2209250006,NaN,2.209250e+09,NaN,2022-09-25 20:30:00.000,자가용(승용/승합/트럭 등등),NaN
36967,b_b015212,2210310004,NaN,2.210310e+09,NaN,2022-10-31 15:00:00.000,자가용(승용/승합/트럭 등등),도보
36968,b_b001072,2208200006,NaN,2.208200e+09,NaN,2022-08-20 21:30:00.000,도보,NaN
36969,b_b004420,2209280008,NaN,2.209280e+09,NaN,2022-09-28 21:00:00.000,새마을/무궁화열차,NaN

In [15]:
df[df["출발시간_분"].isna()==False]

,여행ID,Trip ID,출발 방문지 ID,도착 방문지 ID,출발시간_분,도착시간_분,이동방법코드_1,이동방법코드_2
31,b_b000332,2208160001,2.208160e+09,NaN,2022-08-16 10:00:00.000,NaN,NaN,NaN
41,b_b002330,2208260001,2.208260e+09,NaN,2022-08-26 17:00:00.000,NaN,NaN,NaN
48,b_b010318,2210230001,2.210230e+09,NaN,2022-10-23 10:30:00.000,NaN,NaN,NaN
52,b_b004619,2209250001,2.209250e+09,NaN,2022-09-25 06:30:00.000,NaN,NaN,NaN
79,b_b001704,2208260001,2.208260e+09,NaN,2022-08-26 08:00:00.000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
36881,b_b003816,2209220001,2.209220e+09,NaN,2022-09-22 08:30:00.000,NaN,NaN,NaN
36893,b_b002299,2208260001,2.208260e+09,NaN,2022-08-26 09:00:00.000,NaN,NaN,NaN
36945,b_b010793,2210220001,2.210220e+09,NaN,2022-10-22 13:00:00.000,NaN,NaN,NaN
36956,b_b008508,2210290001,2.210290e+09,NaN,2022-10-29 11:00:00.000,NaN,NaN,NaN
36958,b_b007444,2210140001,2.210140e+09,NaN,2022-10-14 10:30:00.000,NaN,NaN,NaN

In [17]:
df[df["여행ID"]=="b_b000332"]

,여행ID,Trip ID,출발 방문지 ID,도착 방문지 ID,출발시간_분,도착시간_분,이동방법코드_1,이동방법코드_2
31,b_b000332,2208160001,2.208160e+09,NaN,2022-08-16 10:00:00.000,NaN,NaN,NaN
3724,b_b000332,2208170008,NaN,2.208170e+09,NaN,2022-08-17 21:00:00.000,자가용(승용/승합/트럭 등등),NaN
11152,b_b000332,2208160005,NaN,2.208160e+09,NaN,2022-08-16 15:30:00.000,자가용(승용/승합/트럭 등등),NaN
12087,b_b000332,2208170007,NaN,2.208170e+09,NaN,2022-08-17 20:00:00.000,도보,NaN
12872,b_b000332,2208170009,NaN,2.208170e+09,NaN,2022-08-17 22:30:00.000,자가용(승용/승합/트럭 등등),NaN
13397,b_b000332,2208160002,NaN,2.208160e+09,NaN,2022-08-16 10:00:00.000,자가용(승용/승합/트럭 등등),NaN
17526,b_b000332,2208170003,NaN,2.208170e+09,NaN,2022-08-17 16:00:00.000,자가용(승용/승합/트럭 등등),NaN
19035,b_b000332,2208170002,NaN,2.208170e+09,NaN,2022-08-17 13:00:00.000,자가용(승용/승합/트럭 등등),NaN
24020,b_b000332,2208170006,NaN,2.208170e+09,NaN,2022-08-17 19:30:00.000,자가용(승용/승합/트럭 등등),NaN
25308,b_b000332,2208170001,NaN,2.208170e+09,NaN,2022-08-17 11:00:00.000,자가용(승용/승합/트럭 등등),NaN
33710,b_b000332,2208180001,NaN,2.208180e+09,NaN,2022-08-18 15:30:00.000,시외/고속버스,NaN